<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzjs.dao.TaskInfoMapper">
	<resultMap type="taskInfo" id="taskInfoMap">
		<result property="taskId" column="TASKID" />
		<result property="taskSId" column="TASKSID" />
		<result property="taskName" column="TASKNAME" />
		<result property="testCode" column="TESTCODE" />
		<result property="executeMode" column="EXECUTEMODE" />
		<result property="sendStatus" column="SENDSTATUS" />
		<result property="taskStatus" column="TASKSTATUS" />
		<result property="planTime" column="PLANTIME" />
		<result property="lastPlanTime" column="LASTPLANTIME" />
		<result property="firstExecuteTime" column="FIRSTEXECUTETIME" />
		<result property="lastExecuteTime" column="LASTEXECUTETIME" />
		<result property="caller" column="CALLER" />
		<result property="called" column="CALLED" />
		<result property="duration" column="DURATION" />
		<result property="interval" column="INTERVAL" />
		<result property="testCount" column="TESTCOUNT" />
		<result property="router" column="ROUTER" />
		<result property="gateWay" column="GATEWAY" />
		<result property="textInfo" column="TEXTINFO" />
		<result property="cycleUnit" column="CYCLEUNIT" />
		<result property="cycleInput" column="CYCLEINPUT" />
		<result property="cycleValue" column="CYCLEVALUE" />
		<result property="alarmFlag" column="ALARMFLAG" />
		<result property="executeNum" column="EXECUTENUM" />
		<result property="errorNum" column="ERRORNUM" />
		<result property="redo" column="REDO" />
		<result property="deleteFlag" column="DELETEFLAG" />
		<result property="deleteDate" column="DELETEDATE" />
		<result property="sapId" column="SAPID" />
		<result property="userId" column="USERID" />
		<result property="operator" column="OPERATOR" />
		<result property="areaId" column="AREAID" />
		<result property="outneName" column="OUTNENAME" />
		<result property="innerName" column="INNENAME" />
		<result property="toneName1" column="TONENAME1" />
		<result property="toneName2" column="TONENAME2" />
		<result property="toneName3" column="TONENAME3" />
		<result property="outneCode" column="OUTNECODE" />
		<result property="inneCOde" column="INNECODE" />
		<result property="toneCode1" column="TONECODE1" />
		<result property="toneCode2" column="TONECODE2" />
		<result property="toneCode3" column="TONECODE3" />
		<result property="remark1" column="REMARK1" />
		<result property="remark2" column="REMARK2" />
		<result property="istDate" column="ISTDATE" />
		<result property="uptDate" column="UPTDATE" />
		<result property="incFlag" column="INCFLAG" />
	</resultMap>

	<resultMap type="taskQuery" id="taskQueryMap">
		<result property="taskId" column="TASKID" />
		<result property="testNum" column="TESTNUM" />
		<result property="taskName" column="TASKNAME" />
		<result property="executeMode" column="EXECUTEMODE" />
		<result property="cycleValue" column="CYCLEVALUE" />
		<result property="cycleInput" column="CYCLEINPUT" />
		<result property="cycleUnit" column="CYCLEUNIT" />
		<result property="taskStatus" column="TASKSTATUS" />
		<result property="planTime" column="PLANTIME" />
		<result property="testCount" column="TESTCOUNT" />
		<result property="taskStatus" column="TASKSTATUS" />
		<result property="successNum" column="SUCCESSNUM" />
		<result property="failureNum" column="FAILURENUM" />
	</resultMap>

	<sql id="whereInfo">
		<where>
			1 = 1
			<if test="testCode != null and testCode != '' and testCode != -1">
				AND TESTCODE = #{testCode}
			</if>
			<if test="taskName != null and taskName != ''">
				AND TASKNAME LIKE CONCAT(CONCAT('%', #{taskName}),'%')
			</if>
		</where>
	</sql>

	<select id="findTaskInfo" parameterType="taskQuery" resultMap="taskQueryMap">
		SELECT
		TASKID,TASKNAME,EXECUTEMODE,CYCLEINPUT,CYCLEUNIT,TASKSTATUS,PLANTIME
		FROM
		Z_TASKINFO
		<where>
			1 = 1
			<if test="testCode != null and testCode != '' and testCode != -1">
				AND TESTCODE = #{testCode}
			</if>
			<if test="taskName != null and taskName != ''">
				AND TASKNAME LIKE CONCAT(CONCAT('%', #{taskName}),'%')
			</if>
		</where>
	</select>

	<!-- findTaskInfo 的分页查询 -->
	<select id="findTaskInfo1" parameterType="queryPOJO" resultMap="taskQueryMap">
		SELECT
		TASKID,TASKNAME,EXECUTEMODE,CYCLEINPUT,CYCLEUNIT,TASKSTATUS,PLANTIME
		FROM (
		SELECT
		ROWNUM RN,A.*
		FROM(
		SELECT
		TASKID,TASKNAME,EXECUTEMODE,CYCLEINPUT,CYCLEUNIT,TASKSTATUS,PLANTIME
		FROM
		Z_TASKINFO
		<where>
			REMARK1 = 'H'
			<if
				test="taskSId != null and taskSId != '' and taskSId != -2 or 0 == taskSId">
				AND TASKSID = #{taskSId}
			</if>
			<if test="testCode != null and testCode != '' and testCode != -1">
				AND TESTCODE = #{testCode}
			</if>
			<if test="taskName != null and taskName != ''">
				AND TASKNAME LIKE CONCAT(CONCAT('%', #{taskName}),'%')
			</if>
		</where>
		) A WHERE ROWNUM <![CDATA[ <= ]]>
		#{endRow}
		) WHERE RN >= #{startRow}
	</select>

	<select id="findTaskInfo2" parameterType="queryPOJO" resultType="int">
		SELECT
		COUNT(1)
		FROM
		Z_TASKINFO
		<where>
			REMARK1 = 'H'
			<if
				test="taskSId != null and taskSId != '' and taskSId != -2 or 0 == taskSId">
				AND TASKSID = #{taskSId}
			</if>
			<if test="testCode != null and testCode != '' and testCode != -1">
				AND TESTCODE = #{testCode}
			</if>
			<if test="taskName != null and taskName != ''">
				AND TASKNAME LIKE CONCAT(CONCAT('%', #{taskName}),'%')
			</if>
		</where>
	</select>

	<!-- 查询任务的执行情况 返回总执行次数 成功次数 失败次数 -->
	<select id="findRate" parameterType="int" resultMap="taskQueryMap">
		SELECT
		SUM (DECODE(TRT, 1, 1, 0)) SUCCESSNUM,
		COUNT(1) TESTNUM,
		SUM (DECODE(TRT, 0, 1, 0)) FAILURENUM
		FROM(
		SELECT
		TESTRESULT TRT
		FROM
		Z_TESTRESULT
		WHERE
		TASKID = #{taskId})
	</select>

	<select id="findTaskTestAll" parameterType="taskQuery"
		resultMap="taskQueryMap">
		SELECT
		TASKID,TASKNAME,TESTCOUNT
		FROM
		Z_TASKINFO
		<where>
			TASKSID = #{taskSId}
			<if test="testCode != null and testCode != '' and testCode != -1">
				AND TESTCODE = #{testCode}
			</if>
			<if test="taskName != null and taskName != ''">
				AND TASKNAME LIKE CONCAT(CONCAT('%', #{taskName}),'%')
			</if>
		</where>
	</select>

	<select id="findTaskTestAll2" parameterType="queryPOJO"
		resultType="int">

		SELECT
		count(1)
		FROM (
		SELECT
		count(1)
		FROM
		Z_TESTRESULT ZTT
		LEFT JOIN
		Z_TASKINFO ZTO
		ON
		ZTO.TASKID = ZTT.TASKID
		<where>
			ZTO.TASKSID = #{taskSId}
			<if test="testCode != null and testCode != '' and testCode != -1">
				AND ZTO.TESTCODE = #{testCode}
			</if>
			<if test="taskName != null and taskName != ''">
				AND ZTO.TASKNAME LIKE CONCAT(CONCAT('%', #{taskName}),'%')
			</if>
		</where>
		GROUP BY
		ZTO.TASKID
		)
		<!-- SELECT COUNT(1) FROM Z_TASKINFO <where> TASKSID = #{taskSId} <if test="testCode 
			!= null and testCode != '' and testCode != -1"> AND TESTCODE = #{testCode} 
			</if> <if test="taskName != null and taskName != ''"> AND TASKNAME LIKE CONCAT(CONCAT('%', 
			#{taskName}),'%') </if> </where> -->
	</select>

	<!-- findTaskTestAll的分页查询 -->
	<select id="findTaskTestAll1" parameterType="queryPOJO"
		resultMap="taskQueryMap">
		SELECT
		*
		FROM(
		SELECT
		ROWNUM RN,A.*
		FROM(
		SELECT
		ZTO.TASKNAME,
		ZTO.TASKID,
		SUM (DECODE(ZTT.TESTRESULT,1,1,0)) SUCCESSNUM,
		SUM(DECODE(ZTT.TESTRESULT,0,1,0)) FAILURENUM,
		COUNT(1) TESTNUM
		FROM
		Z_TESTRESULT ZTT
		LEFT JOIN
		Z_TASKINFO ZTO
		ON ZTO.TASKID = ZTT.TASKID
		<where>
			ZTO.TASKSID = #{taskSId}
			<if test="testCode != null and testCode != '' and testCode != -1">
				AND ZTO.TESTCODE = #{testCode}
			</if>
			<if test="taskName != null and taskName != ''">
				AND ZTO.TASKNAME LIKE CONCAT(CONCAT('%', #{taskName}),'%')
			</if>
		</where>
		GROUP BY
		ZTO.TASKID,ZTO.TASKNAME
		)A
		WHERE ROWNUM <![CDATA[ < = ${endRow}]]>
		) WHERE RN >= ${startRow}
		<!-- SELECT TASKID,TASKNAME,TESTCOUNT FROM (SELECT ROWNUM RN,A.* FROM (SELECT 
			TASKID,TASKNAME,TESTCOUNT FROM Z_TASKINFO <where> TASKSID = #{taskSId} <if 
			test="testCode != null and testCode != '' and testCode != -1"> AND TESTCODE 
			= #{testCode} </if> <if test="taskName != null and taskName != ''"> AND TASKNAME 
			LIKE CONCAT(CONCAT('%', #{taskName}),'%') </if> </where>)A WHERE ROWNUM <![CDATA[ 
			<= ]]> #{endRow}) WHERE RN >= #{startRow} -->
	</select>

	<!-- 查询上一次插入的 任务组tasksid -->
	<select id="findTaskSID" resultType="int">
		<!-- SELECT SEQ_Z_TASKINFO_TASKSID.nextVal-1 FROM DUAL -->
		SELECT SEQ_Z_TASKINFO_TASKSID.currVal FROM DUAL
	</select>

	<!-- 返回类型为集合中的元素 而不是集合本身 -->
	<select id="findTaskIdBySId" parameterType="int" resultType="integer">
		SELECT TASKID FROM Z_TASKINFO WHERE TASKSID = #{taskSId}
	</select>

	<insert id="addTask" parameterType="java.util.List">
		<selectKey keyProperty="taskSId" order="BEFORE" resultType="int"
			keyColumn="TASKSID">
			SELECT SEQ_Z_TASKINFO_TASKSID.nextVal FROM DUAL
		</selectKey>
		INSERT INTO Z_TASKINFO (
		TASKID,
		TASKSID,
		TASKNAME,
		TESTCODE,
		EXECUTEMODE,
		EXECUTENUM,
		CYCLEINPUT,
		CYCLEUNIT,
		CYCLEVALUE,
		PLANTIME,
		CALLER,
		CALLED,
		ROUTER,
		TEXTINFO,
		GATEWAY,
		TONECODE1,
		TONECODE3,
		TONENAME1,
		DURATION,
		INTERVAL,
		REMARK1
		)
		SELECT
		SEQ_Z_TASKINFO_TASKID.nextVal, A.* FROM (
		<foreach collection="list" index="index" item="task"
			separator="UNION" open="(" close=")">
			SELECT
			#{taskSId},
			#{task.taskName},
			#{task.testCode},
			#{task.executeMode},
			#{task.executeNum},
			#{task.cycleInput},
			#{task.cycleUnit},
			#{task.cycleValue},
			#{task.planTime},
			#{task.caller},
			#{task.called},
			#{task.router},
			#{task.textInfo},
			#{task.gateWay},
			#{task.toneCode1},
			#{task.toneCode3},
			#{task.toneName1},
			#{task.duration},
			#{task.interVal},
			#{task.remark1}
			FROM DUAL
		</foreach>
		)A
	</insert>

	<select id="getTemplate" resultMap="taskInfoMap">
		SELECT
		TASKNAME,TESTCODE,CALLER,CALLED,ROUTER,TEXTINFO,GATEWAY,TONECODE1,TONECODE3,TONENAME1
		FROM
		Z_TASKINFO
		WHERE
		EXECUTEMODE=3 AND SENDSTATUS=1 AND TASKSTATUS=1 ORDER BY SYS_GUID()
	</select>

	<select id="getTemplateTestCode" resultType="integer">
		select 
			t.testcode
		from 
			z_testresult z,z_taskinfo t 
		where 
			z.taskid=t.taskid and
			t.executemode=3 and t.taskstatus=1 and t.sendstatus=1 and
			z.starttime>trunc(sysdate) 
		group by t.testcode
	</select>
	<select id="getTemplateOrderBy" parameterType="list" resultMap="taskInfoMap">
		<foreach collection="list" item="testCode" separator="union">
		
		select * from(
			select 
				o.TASKNAME,o.TESTCODE,o.CALLER,o.CALLED,o.ROUTER,o.TEXTINFO,o.GATEWAY,o.TONECODE1,o.TONECODE3,o.TONENAME1
			from 
				z_taskinfo o,z_testresult t
			where 
				o.taskid=t.taskid
				and o.executemode=3 and o.taskstatus=1 and o.sendstatus=1 and
			    t.starttime>trunc(sysdate) and o.testcode = #{testCode} 
			order by SYS_GUID()
		) where rownum <![CDATA[ < ]]> 2
		</foreach>
	</select>
	
	
</mapper>
